<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to OnlyImports!</h1>
    <h2>We have spicy car pictures...</h2>
    <ul>
        <li><a href="/add_inventory">Add Car Inventory</a></li>
        <li><a href="/add_order_details">Add Order Details</a></li>
        <li><a href="/inventory">See Our Inventory</a></li>
    </ul>
</body>
</html>